*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #44433f;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;

}

:root{ 
    --bs-primary-rgb: 243, 225, 213 !important;
    --bs-secondary-rgb: 250, 245, 239 !important; 
    --bs-info-rgb: 76, 110, 93 !important; 
    --bs-dark-rgb: 68, 67, 63 !important; 
    --bs-bg-opacity: 1;
}

#container1{
    margin-top: 150px;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2{
    font-family: 'Young Serif', serif ;
    font-weight: 400;
}
h1{
    color: #44433f;
    font-size: 2.8rem;
}
h2{
    color: #4c6e5d;
    margin-bottom: 1rem;
}

.recipe-step{
    margin: 1rem 0;
}

ul{
    padding-left: 1.25rem;
}

ul li::marker{
    color: #4c6e5d;
    font-weight: bold;
}      

hr{
    margin: 1.5rem 0;
    border: 1px solid var(#44433f);
}

.container{
    max-width: 800px;
    background-color: #f3e1d5;
    margin: 2rem;
    border-radius: 1rem;
}
.container .spaghetti-img{
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.container .spaghetti-img img {
    border-radius: 1rem;
}

.recipe-info{
    padding: 0rem 2rem 2rem 2rem;
}

.description{
    margin: 1.5rem 0;
}

.ingridients li {
    margin-bottom: .5rem;
}

.method .item{
    padding-left: 5rem;
    margin-bottom: 5rem;
    display: flex;
}

.method .item .num{
    color: #44433f;
    margin-right: 1rem;
    font-weight: 700;
}

